<div th:fragment="footer">
    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                     viewBox="0 0 24 24"><title>Product</title>
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path>
                </svg>
                <small class="d-block mb-3 text-muted">© 2017-2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Возможности</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">1</a></li>
                    <li><a class="link-secondary" href="#">2</a></li>
                    <li><a class="link-secondary" href="#">3</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Полезные ссылки</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Яндекс</a></li>
                    <li><a class="link-secondary" href="#">Гугл</a></li>
                    <li><a class="link-secondary" href="#">Маил</a></li>
                    <li><a class="link-secondary" href="#">Вк</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Ресурсы</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Бизнес</a></li>
                    <li><a class="link-secondary" href="#">Образование</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Команда</a></li>
                    <li><a class="link-secondary" href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>