<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление вопросов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header:: header"></header>
    <div class="container mt-5 mb-5">
        <h1>Добавление вопроса</h1>
        <form action="/exam/add" method="post">
            <input type="text" name="text" placeholder="Введите вопрос" class="form-control"><br>
            <input type="text" name="answers" placeholder="Введите ответы через |" class="form-control"><br>
            <input type="text" name="right_answer" placeholder="Введите правильный ответ" class="form-control"><br>
            <textarea name="explain" placeholder="Введите объяснение" class="form-control"></textarea><br>
            <button type="submit" class="btn btn-success">Добавить вопрос</button>
        </form>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>